In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/kc_house_data.csv')

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [4]:
y = df[['price']]

x = df[['bathrooms', 'sqft_living', 'bedrooms']]

In [5]:
linear_regression = LinearRegression()

In [6]:
linear_regression.fit(x,y)

LinearRegression()

In [7]:
y_pred = linear_regression.predict(x)

In [8]:
y_pred

array([[274343.76226661],
       [715074.50058455],
       [205741.3092054 ],
       ...,
       [281372.73489256],
       [416110.02032819],
       [281372.73489256]])

In [9]:
x.iloc[0]

bathrooms         1.0
sqft_living    1180.0
bedrooms          3.0
Name: 0, dtype: float64

In [10]:
house = [[1.0,1180,3.0]]
linear_regression.predict(house)

array([[274343.76226661]])

In [33]:
linear_regression.coef_

array([[  7659.09526414,    310.18479801, -58573.31412403]])

In [34]:
linear_regression.intercept_

array([76386.54771948])

In [27]:
#plt.scatter(x,y)

In [37]:
linear_regression.score(x,y)

0.5069507437282965